<div class="w-100 d-flex flex-column align-items-center">
  <img width="300" src="../../assets/images/RnM.png" />
  <!-- <h1 class="text-white font-bold w-100">Rick And Morty App</h1> -->
  <img width="300" src="../../assets/images/Rick_and_Morty_tittle.png" />
  <div
    class="buttons-content rounded border border-black border-2 mt-5 p-4 d-flex justify-content-center flex-wrap gap-3">
    <a href="/characters/0" class="btn btn-sm btn-light d-flex align-items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="20" height="20"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
        <path d="M11 13l9 -9" />
        <path d="M15 4h5v5" />
      </svg>
      Watch Characters
    </a>
    <a href="/episodes" class="btn btn-sm btn-light d-flex align-items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="20" height="20"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
        <path d="M11 13l9 -9" />
        <path d="M15 4h5v5" />
      </svg>
      Watch Episodes
    </a>
    <a href="/episodes" class="btn btn-sm btn-light d-flex align-items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="20" height="20"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
        <path d="M11 13l9 -9" />
        <path d="M15 4h5v5" />
      </svg>
      Watch Favorite Characters
    </a>
  </div>
</div>